<div class="form-container">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="custom-form">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div class="f-between">
        <h4>Homework</h4>
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="addSurah()"
        >
          Add +
        </button>
      </div>
      <br />

      <div formArrayName="suwar">
        <div
          class="dropdown-container"
          *ngFor="let surah of suwar.controls; let i = index"
          [formGroupName]="i"
        >
          <mat-form-field appearance="fill">
            <mat-label>Name of Surah</mat-label>
            <mat-select
              formControlName="name"
              (selectionChange)="onChangeSurahHandler($event, surah)"
            >
              <mat-option *ngFor="let sarah of QURAN" [value]="sarah.name">
                {{ sarah.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label
              >From : {{ surah?.value?.startStr?.substring(0, 40) }}</mat-label
            >
            <mat-select
              formControlName="start"
              (selectionChange)="
                onChangeFromSelectHandler($event, 'startStr', surah)
              "
            >
              <mat-option
                *ngFor="let item of surah?.value?.count; let i = index"
                [value]="i + 1"
              >
                {{ i + 1 }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label
              >To
              {{
                surah?.value?.endStr?.substring(
                  surah?.value?.endStr?.length,
                  40,
                  40
                )
              }}</mat-label
            >
            <mat-select
              formControlName="end"
              (selectionChange)="
                onChangeFromSelectHandler($event, 'endStr', surah)
              "
            >
              <mat-option
                *ngFor="let item of surah?.value?.count; let i = index"
                [value]="i + 1"
              >
                {{ i + 1 }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <br />

      <div class="f-between">
        <h4>Revision</h4>
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="addSurah('revision')"
        >
          Add +
        </button>
      </div>
      <br />

      <div formArrayName="revision">
        <div
          class="dropdown-container"
          *ngFor="let surah of revision.controls; let i = index"
          [formGroupName]="i"
        >
          <mat-form-field appearance="fill">
            <mat-label>Name of Surah</mat-label>
            <mat-select
              formControlName="name"
              (selectionChange)="onChangeSurahHandler($event, surah)"
            >
              <mat-option *ngFor="let sarah of QURAN" [value]="sarah.name">
                {{ sarah.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label
              >From : {{ surah?.value?.startStr?.substring(0, 40) }}</mat-label
            >
            <mat-select
              formControlName="start"
              (selectionChange)="
                onChangeFromSelectHandler($event, 'startStr', surah)
              "
            >
              <mat-option
                *ngFor="let item of surah?.value?.count; let i = index"
                [value]="i + 1"
              >
                {{ i + 1 }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label
              >To
              {{
                surah?.value?.endStr?.substring(
                  surah?.value?.endStr?.length,
                  40
                )
              }}</mat-label
            >
            <mat-select
              formControlName="end"
              (selectionChange)="
                onChangeFromSelectHandler($event, 'endStr', surah)
              "
            >
              <mat-option
                *ngFor="let item of surah?.value?.count; let i = index"
                [value]="i + 1"
              >
                {{ i + 1 }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <h4>Notes</h4>
      <mat-form-field class="example-full-width">
        <mat-label>Notes</mat-label>
        <textarea
          matInput
          placeholder="Ex. Leave Notes..."
          formControlName="note"
        ></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">
        Create Report
      </button>
    </div>
  </form>
</div>
