<div class="form-container">
  <br />
  <mat-card>
    <mat-card-actions>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="f-between w-100">
          <div>
            <h3>تقييم الحفظ</h3>
            <app-stars (ratingHandler)="ratingHandler($event)"></app-stars>
          </div>
          <br />
          <div>
            <h3>تقييم المراجعة</h3>
            <app-stars
              (ratingHandler)="ratingHandler($event, 'revision')"
            ></app-stars>
          </div>
          <br />
        </div>
        <br />
        <div class="custom-form">
          <mat-form-field appearance="fill">
            <mat-label>الإسم</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>اختر التاريخ</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div class="f-between">
            <h4>الحفظ</h4>
          </div>
          <br />

          <div formArrayName="suwar">
            <div
              class="dropdown-container"
              *ngFor="let surah of suwar.controls; let i = index"
              [formGroupName]="i"
            >
              <mat-form-field appearance="fill">
                <mat-label>اسم السورة</mat-label>
                <mat-select
                  formControlName="name"
                  (selectionChange)="onChangeSurahHandler($event, surah)"
                >
                  <mat-option *ngFor="let sarah of QURAN" [value]="sarah.name">
                    {{ sarah.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>
                  من : {{ surah?.value?.startStr?.substring(0, 40) }}</mat-label
                >
                <mat-select
                  formControlName="start"
                  (selectionChange)="
                    onChangeFromSelectHandler($event, 'startStr', surah)
                  "
                >
                  <mat-option
                    *ngFor="let item of surah?.value?.count; let i = index"
                    [value]="i + 1"
                  >
                    {{ i + 1 }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label
                  >إلى :
                  {{
                    surah?.value?.endStr?.substring(
                      surah?.value?.endStr?.length,
                      40,
                      40
                    )
                  }}</mat-label
                >
                <mat-select
                  formControlName="end"
                  (selectionChange)="
                    onChangeFromSelectHandler($event, 'endStr', surah)
                  "
                >
                  <mat-option
                    *ngFor="let item of surah?.value?.count; let i = index"
                    [value]="i + 1"
                  >
                    {{ i + 1 }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="f-end">
            <button
              mat-raised-button
              color="primary"
              type="button"
              (click)="addSurah()"
            >
              إضافة +
            </button>
          </div>
          <br />

          <div class="f-between">
            <h4>المراجعة</h4>
          </div>
          <br />

          <div formArrayName="revision">
            <div
              class="dropdown-container"
              *ngFor="let surah of revision.controls; let i = index"
              [formGroupName]="i"
            >
              <mat-form-field appearance="fill">
                <mat-label>إسم السورة</mat-label>
                <mat-select
                  formControlName="name"
                  (selectionChange)="onChangeSurahHandler($event, surah)"
                >
                  <mat-option *ngFor="let sarah of QURAN" [value]="sarah.name">
                    {{ sarah.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label
                  >من :
                  {{ surah?.value?.startStr?.substring(0, 40) }}</mat-label
                >
                <mat-select
                  formControlName="start"
                  (selectionChange)="
                    onChangeFromSelectHandler($event, 'startStr', surah)
                  "
                >
                  <mat-option
                    *ngFor="let item of surah?.value?.count; let i = index"
                    [value]="i + 1"
                  >
                    {{ i + 1 }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label
                  >إلى :
                  {{
                    surah?.value?.endStr?.substring(
                      surah?.value?.endStr?.length,
                      40
                    )
                  }}</mat-label
                >
                <mat-select
                  formControlName="end"
                  (selectionChange)="
                    onChangeFromSelectHandler($event, 'endStr', surah)
                  "
                >
                  <mat-option
                    *ngFor="let item of surah?.value?.count; let i = index"
                    [value]="i + 1"
                  >
                    {{ i + 1 }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="f-end">
            <button
              mat-raised-button
              color="primary"
              type="button"
              (click)="addSurah('revision')"
            >
              إضافة +
            </button>
          </div>
          <h4>ملاحظات إضافية</h4>
          <mat-form-field class="example-full-width">
            <mat-label>ملاحظات</mat-label>
            <textarea
              matInput
              placeholder="اترك تعليق"
              formControlName="note"
            ></textarea>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">
            إنشاء تقرير
          </button>
        </div>
      </form>
    </mat-card-actions>
  </mat-card>
</div>
